[submodule "part0"]
	path = part0
	url = https://github.com/michall1900/Full-Stack-Open-P0
[submodule "part1"]
	path = part1
	url = https://github.com/michall1900/Full-Stack-Open-P1
[submodule "part2"]
	path = part2
	url = https://github.com/michall1900/Full-Stack-Open-P2
[submodule "part3"]
	path = part3
	url = https://github.com/michall1900/Full-Stack-Open-P3
[submodule "part4"]
	path = part4
	url = https://github.com/michall1900/blog-list-backend
